html, body {
  height: 100%;
  overflow: auto;
}
.home {
  background-color: #DCE9F6;
  min-height: 100%;
    .head {
      padding: 10px 100px;
      .logo {
        width: 30px;
        margin-right: 50px;
      }
     
      .menu {
        .m-item {
          cursor: pointer;
          padding: 0 15px;
          color: #40444F;
          font-size: 15px;
        }
      }

      .start-btn {
        background: #40444F;
        color: #fff;
        padding: 6px 10px;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .nav {
      padding: 50px 100px;
      .desc {
        width: 900px;
        color: #0A4368;
        font-size: 42px;
        line-height: 60px;
        font-family: georgia;
      }
      .start {
        margin-top: 60px;
        button {
          font-size: 20px;
          border: 1px solid #0A4368;
          border-radius: 3px;
          padding: 6px 15px;
          color: #0A4368;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
}

@media (max-width: 960px) {
  .home {
    .head {
      padding: 0.3rem 0.4rem;
      .menu {
        display: none;
      }
      .start-btn {
        display: none;
      }
    }
    .nav {
      padding: 1rem 0.4rem;
      .desc {
        width: 100%;
        font-size: 0.6rem;
      }
      .start {
        button {
          font-size: 0.5rem;
          padding: 6px 15px;
          color: #0A4368;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}